@import url("http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:400,600,700");


*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(222, 255, 255);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Open Sans", Arial, sans-serif;
}

.welcome-content{
    width: 100%;
    height: 100%;
    margin-top: 5%;
    align-items: center;
    text-align: center;
}

label{
    font-size: 1.3rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.lecdata table{
    background: #fff;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
    width: 85%;
    box-shadow: 0px 0px 1px black;
}

table td,
table th{
    padding: 5px 10px;
    /* border: 1px solid black; */
}

.form-control{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background: rgb(174, 255, 171);
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

.btnsubmit{
    width: 85%;
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: bolder;
    background: orangered;
    padding: 14px;
    border: 1px solid transparent;
    color: #fff;
    border-radius: 10px;
}