@import url("http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:400,600,700");


*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    background: linear-gradient(to top, #f2a02b, #df6f56);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Open Sans", Arial, sans-serif;
}

footer{
    position: fixed;
    bottom: 0px;
    background: #fff;
    width: 100%;
    height: 5%;display: flex;
    justify-content: center;
}

footer i{
    position: absolute;
    top: -30px;
    font-size: 2.5rem;
    background: #fff;
    border-radius: 50%;
    padding: 10px;
    border: 6px solid #f2a02b;
}

.welcome-content{
    margin-top: 10%;
    margin-bottom: 20%;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
}

.welcome-content img{
    width: 30%;
}

.welcome-content .name{
    font-size: 1.5rem;
    font-weight: bolder;

}

.welcome-content .options{
    margin-top: 20%;
}

.welcome-content .options div{
    margin-top: 15%;
    background: #fff;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0px;
    border-radius: 20px;

}

.welcome-content .options div img{
    width: 60%;
}

.welcome-content .options div .text{
    padding: 0;
    font-weight: bolder;
    text-transform: uppercase;
}

form{
    margin-top: 20%;
}

form input{
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 80%;
    height: 30px;
}

select{
    border-radius: 10px;
    margin-bottom: 10px;
    width: 83%;
    height: 45px;
    border: 1px solid black;
}

form input{
    margin-top: 5%;
}

button{
    margin-top: 20%;
    width: 80%;
    font-size: 1.3rem;
    padding: 10px;
    background: #fff;
    box-shadow: 0px 0px 5px black;
    color: #df6f56;
    font-weight: bolder;
    border: 1px solid transparent;
    border-radius: 5px;
    text-transform: uppercase;
}