@import url("http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:400,600,700");


*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Open Sans", Arial, sans-serif;
}

footer{
    position: fixed;
    bottom: 0px;
    background: #fff;
    width: 100%;
    height: 5%;display: flex;
    justify-content: center;
}

footer i{
    position: absolute;
    top: -30px;
    font-size: 2.5rem;
    background: #fff;
    border-radius: 50%;
    padding: 10px;
    border: 6px solid #f2a02b;
}

.welcome-content{
    margin-top: 10%;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
}

.welcome-content img{
    width: 30%;
}

.welcome-content .name{
    font-size: 1.5rem;
    font-weight: bolder;

}

.welcome-content .options{
    margin-top: 20%;
}

.welcome-content .options div{
    margin-top: 15%;
    background: #fff;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0px;
    border-radius: 20px;

}

.welcome-content .options div img{
    width: 60%;
}

.welcome-content .options div .text{
    padding: 0;
    font-weight: bolder;
    text-transform: uppercase;
}
